
<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{email}} - <a href="{{linkedin}}" target="_blank">LinkedIn</a> - <a href="{{gitHub}}" target="_blank">GitHub</a></p>
	<p>
		
	</p>
</div>

<article class="about">
	<h2>Who am I?</h2>
	<p>Junior developer with more than a year experience in software programming and knowledge in many languages and technologies. Passion for programming and looking for new opportunities. After long experience in fruit industry, willing to get back to Software development and IT fields. Ready for my next challenge. 
	</p>


	<h3>Skills & Complementary Education</h3>
	
	<ul>
		<li>Course: JavaScript, jQuery, Node.js, TypeScript, Angular, Mean Stack, HTML, CSS (+35hrs)</li>
		<li>Course Programming in PHP +HTML + CSS (Bootstrap) (20hrs)</li>
		<li>2 Courses: Programming in Unity 2D/3D (30hrs together)</li>
		<li>2 Courses: Programming in Swift 3 for iOS (40hrs together)</li>
		<li>Microsoft Programming C# 70-483 preparatory (17hrs)</li>
		<li>Programming in Java</li>
		<li>SAP MM (Material Management)</li>
	</ul> 
	

</article>