
<div class = "container">

	<h2>Projects</h2>
	<ul id="listadoProyectos">
		<li *ngFor="let project of projects" class="projects">
			<div *ngIf="project.name.indexOf('Paises') != -1">
				<div class="image">
					<a href="https://www.youtube.com/watch?v=0Eh3BsHR6Hc" target="_blank"><img src="../../../assets/img/paises.jpg"/></a>
				</div>
			</div>
			<div *ngIf="project.name.indexOf('Orc') != -1">
				<div class="image">
					<a href="https://www.youtube.com/watch?v=ZM65vMWnQxQ" target="_blank"><img src="../../../assets/img/orc.jpg"/></a>
				</div>
			</div>
			<div *ngIf="project.name.indexOf('Pony') != -1">
				<div class="image">
					<a href="https://www.youtube.com/watch?v=hiO65T93MgE" target="_blank"><img src="../../../assets/img/pony.jpg"/></a>
				</div>
			</div>
			<div *ngIf="project.name.indexOf('Geo') != -1">
				<div class="image">
					<a href="https://www.youtube.com/watch?v=4DKOePw9_F4" target="_blank"><img src="../../../assets/img/geo.jpg"/></a>
				</div>
			</div>
			<h3>{{project.name}}</h3>
			<p>{{project.description}}</p>
			<p>{{project.category}}</p>
			<p>{{project.year}}</p>
			<p>{{project.langs}}</p>
		</li>
	</ul>
</div>